asgiref==3.8.1
black==25.1.0
click==8.1.8
colorama==0.4.6
cssbeautifier==1.15.4
dj-database-url==2.3.0
django==5.2
django-bootstrap5==25.1
djlint==1.36.4
dotenv==0.9.9
editorconfig==0.17.0
gunicorn==23.0.0
isort==6.0.1
jsbeautifier==1.15.4
json5==0.12.0
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.7
psycopg2-binary==2.9.10
python-dotenv==1.1.0
pyyaml==6.0.2
regex==2024.11.6
ruff==0.11.7
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing-extensions==4.13.2
whitenoise==6.9.0
